
<div class="main-content">
    <H1>Affectation Client - Conseillers</H1>
  <div class="container-fluid" >
      <div class="row">
        <div class="card" id="conseillers">
                <div class="card-header card-header-warning" >
                  <h4 class="card-title">Liste des conseillers</h4>
                  <p class="card-category">Choisir un conseiller dans la liste</p>
                </div>
                <div class="card-content table-responsive table-full-width">
                  <table class="table">
                    <thead class="text-danger">
                        <th></th>
                      <th>Nom</th>
                      <th>Prénom</th>

                    </thead>
                    <tbody>
                      <tr>
                          <td><input type="radio" aria-label=""></td>
                        <td>Ellis</td>
                        <td>Marc</td>

                      </tr>
                      <tr>
                            <td><input type="radio" aria-label=""></td>
                        <td>Rushdie</td>
                        <td>Salman</td>

                      </tr>
                      <tr>
                            <td><input type="radio" aria-label=""></td>
                        <td>Joey</td>
                        <td>Ramone</td>
  
                      </tr>
            
                    </tbody>
                  </table>
                </div>
              </div>
  </div>
</div>
